.homepage-title {
  font-size: var(--h2-font-size);
}

.homepage-title > h1 {
  text-align: justify;
  font-style: normal;
}

.homepage-title > h2 {
  text-align: center;
  margin-top: var(--margin-size);
}

.ant-list-split .ant-list-header,
.ant-list-bordered.ant-list-sm .ant-list-item {
  font-size: var(--h2-font-size);
}

.ant-list-item-meta {
  align-items: center;
}

.schema {
  margin-top: var(--margin-size);
  text-align: center;
  font-size: 1.5em;
}
