.nav {
  color: #ff6000;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
}
.active-nav {
  color: white;
  text-decoration: none;
}

.body {
  background-color: rgb(88, 168, 95);
}

.footer,
.header {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7651435574229692) 0%,
    rgba(50, 50, 50, 1) 45%,
    rgba(255, 255, 255, 0.227328431372549) 100%
  );

  color: #ff6000;
}
.contact {
  display: grid;
  margin: 5px;
  margin-bottom: 10px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}

.navmenu {
  margin: 5px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  justify-items: center;
  align-items: center;
}
.nav:after {
  background-color: white;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.nav:hover:after,
.nav:focus:after {
  width: 100%;
}
CarouselImg {
  margin-bottom: 10px;
}

.container {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2) inset;
-moz-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2) inset;
box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2) inset;
}
.footer {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.227328431372549) 0%,
    rgba(50, 50, 50, 1) 45%,
    rgba(0, 0, 0, 0.7651435574229692) 100%
  );
}

.footer-container {
  display: grid;
  margin: 5px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.footer-contact {
  margin-top: 25px;

}

.footer-address {
  margin-top: 25px;
  text-align: right;

}

.joblist {
  text-align: center;
  margin-bottom: 10px;
}

.joblist-container {
  
  background-image: url(/src/pages/services/img/cex.jpg);
  height:100px;
  color:white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.joblist-services {
  padding-top: 10px;
  background-color: rgba(160, 160, 160, 0.4);
  height:100px;
}

